<div class="bg-light m-5 p-2 border border-primary border-2">
    
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #222f40;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #adabed;
}
</style>
</head>
<body>

<h2></h2>

<table>
  <tr>
    <th>Population</th>
    <th>Name of the Place</th>
    <th>Weighted average z-scores, overall COI, nationally-normed</th>
    <th>Child Opportunity Levels, overall COI, nationally-normed</th>
    <th>Child Opportunity Scores, overall COI, nationally-normed</th>
  </tr>

  <% res.json %> 
  <% for(c in coidata) {%>
  <tr>
    <td>  <%= c.pop %>     </td>
    <td> <%= c.msaname15 %> </td>
    <td><%= c.z_coi_nat%></td>
    <td><%= c.c5_coi_nat%> </td>
    <td><%= c.r_coi_nat%> </td>

  </tr>
  <% } %>
</table>

</body>
</html>

