<h1> Interest List</h1>
<div class="d-flex flex-wrap">
    <% for (zip of zipcodes){%>
        <div class="p-3 m-3 bg w-25 border border-warning border-5">
            <a href="/InterestList/remove/<%= coi.zip %>">X</a>
            <%= coidata['pop'] %> 
            <%= coidata['c5_coi_met'] %> 
            <%= coidata['r_coi_nat'] %> 
            <%= coidata['zip']%>
        </div>
    <% } %>
</div>